.jumbotron{
    background-color:#F8EBBE;
    color:#001909;
    margin-top: 60px;
}

.btn-primary{
    background-color: maroon;
    color:#F8EBBE;
    margin-top:10px;
}

footer {
    padding: 10px 10px 10px 100px;
    background-color:#F8EBBE;
    margin-bottom: 0px;
    margin-top: 10px;
    color:#b50707;

}

.row i a{
    color:#555453;
    padding-left:5px;
   
}
.row a{
    color:#555453;
}
.breadcrumb{
    background-color: #c8e5ec;
}