*{
    padding: 0px;
    margin: 0px;   
}

header{
    display: grid;
    grid-template-columns: 0.5fr 11.5fr;
    height: 100px;
    background-image: url(../img/complejo_de_cabañas.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;

}

header button{
    height: 30%;
    background-image: url(../img/complejo_de_cabañas.jpeg);
    border: none;
    margin: 5px 0px 10px 5px;
}

header button a{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}



header .titulo-central{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cuadro-sup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    background-color: #2E2300 ;
    color: goldenrod;
}

.cuadro-sup h1{
    font-size: 3em;
}

.selec-complejo h2{
    margin-bottom: 3px;
}

.selec-complejo select{
    padding: 3px;
    margin-top: 5px;
}
.selec-complejo button{
    padding: 4px;
    margin-left: 10px;
    background-color: hsl(47, 100%, 90%);
    border: 1px solid #2E2300;
    border-radius: 5px;
}

.selec-complejo a {
    font-size: 1.1em;
    text-decoration: none;
    color: #2E2300;
}

.forms-cabanias{
   display: flex;
   gap: 10px;
   text-align: center;

}

.form-cabania{
    margin: 15px 0px 0px 15px;
    width: 50%;
}

.form-cabania legend{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    background-color: hsl(47, 100%, 90%);
    border: 2px solid hsl(47, 40%, 75%);
    border-radius: 10px;
    
}

.form-cabania .legend2{
    margin-right: 25px;
}

.form-cabania label{
    display: block;
    font-size: 1.5em;
}

.form-cabania .opciones{
    margin: 10px 0px 20px 0px;
}

.form-cabania .opciones label{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5em;
}

.form-cabania label,input{
    margin-bottom: 10px;
}

.form-cabania input{
    width:40%;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
}

.form-cabania input:hover{
    background-color: hsl(47, 76%, 92%);
}


.form-cabania .servicios input{
    width: 3%;
    margin: 0px 15px 25px 3px;
    display: inline;
    align-items: center;
}

.serv-comp{
    margin-bottom: 35px;
}

.mapa-complejo{
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
}