* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'calibri';
}

header h1 {
    background: url('/Administrador/img/complejo_de_cabañas.jpeg');
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    font-size: 40px;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 1px 0;
}

.conte {
    text-align: center;
}


.conte p {
color: black;
font-size:  30px;
font-weight:  bold;
margin:  2em 0;
}

.conte a {
    color: white;
    text-decoration: none;
    background:  #DB9501;
    padding: 50px 45px;
    border-radius: 10px;
    font-size: 30px;
    margin: 15 px;
}

.conte a:hover {
    background: #C05805;
}
