<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/admin-forms.css">
    <link rel="stylesheet" href="./css/admin-inicio.css">
    <link rel="stylesheet" href="./css/admin-header.css">
    <link rel="stylesheet" href="./css/header_footer.css">

    <title>Agregar Complejo</title>
</head>

<body class="background-style">
    
     <!-- HEADER -->
  <header class="mb-2">
    <section>
      <div class="conte">
        <p>GESTION DE COMPLEJOS</p>
        <a href="./admin-inicio.html">Volver a Inicio</a>
      </div>
    </section>
  </header>

    <main>

        <div class="container">
            <div class="forms-cabanias">
                <div class="form-cabania">
                    <form action="POST" name="fvalida">
                        <legend>Datos del Complejo</legend>
                        <div class="datos">
                            <label for="nomComplejo" id="lblNomComplejo">Nombre Complejo:</label>
                            <input type="text" id="nomComplejo"
                                placeholder="Ej: 'Cabañas Arco Iris', 'Complejo Cuarzo'...">
                        </div>
                        <div class="datos">
                            <label for="cabComplejo" id="lblCabComplejo">Cantidad de Cabañas:</label>
                            <input type="text" id="cabComplejo" minlength="1" maxlength="2" placeholder="Total de cabañas habitables.">
                        </div>
                        <div class="opciones datos">
                            <label for="provComplejo">Provincia:</label>
                            <select name="provComplejo" id="provComplejo">
                                <option value="0">Seleccionar...</option>
                                <option value="1">Buenos Aires</option>
                                <option value="2">Mendoza</option>
                                <option value="3">San Luis</option>
                                <option value="4">Entre Rios</option>
                                <option value="5">Cordoba</option>
                                <option value="6">Santa Cruz</option>
                            </select>
                        </div>
                        <div class="opciones datos">
                            <label for="ciudComplejo">Ciudad:</label>
                            <select name="ciudComplejo" id="ciudComplejo">
                                <option value="0">Seleccionar...</option>
                                <option value="1">El Trapiche</option>
                                <option value="2">Rio Gallego</option>
                                <option value="3">Merlo</option>
                                <option value="4">Villa Gral Belgrano</option>
                                <option value="5">La Cumbrecita</option>
                                <option value="6">Santa Cruz</option>
                            </select>
                        </div>
                        <div class="datos">
                            <label for="dirComplejo" id="lblDirComplejo">Calle / Av. / Ruta:</label>
                            <input type="text" id="dirComplejo" placeholder="Nombre de la ubicación del complejo.">
                        </div>
                        <div class="datos">
                            <label for="numComplejo" id="lblNumComplejo">Numeración / Km:</label>
                            <input type="text" id="numComplejo" maxlength="5" minlength="1"
                                placeholder="Numeración de la ubicación del complejo.">
                        </div>
                        <div class="mapa-complejo datos">
                            <label>Ubicación Mapa:</label>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13366.472678972592!2d-66.0729686!3d-33.1191208!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb77a3febea5b5a!2sCondominio%20Cuarzo!5e0!3m2!1ses!2sar!4v1665950661879!5m2!1ses!2sar"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <!-- Luego habrá que configurarlo para que el usuario pueda subir más de una imagen. -->
                        <div class="datos">
                            <label for="img-complejo">Imagenes del Complejo:</label>
                            <input type="file" id="img-complejo">
                        </div>
                    </form>
                </div>
                <div class="form-cabania">
                    <legend class="legend2">Servicios del Complejo</legend>
                    <div class="servicios serv-comp">
                        <label for="serv-complejo-1">Serv. Cochera:</label>
                        EXTERIOR<input type="checkbox" name="serv-complejo-1" value="3"><br>
                        TECHADA<input type="checkbox" name="serv-complejo-1" value="1"><br>
                        SIN TECHAR<input type="checkbox" name="serv-complejo-1" value="2">
                    </div>
                    <div class="servicios serv-comp">
                        <label for="serv-complejo-2">Serv. Pileta:</label>
                        PILETA PRIVADA<input type="checkbox" name="serv-complejo-2" value="2"><br>
                        PILETA COMPARTIDA<input type="checkbox" name="serv-complejo-2" value="1">
                    </div>
                    <div class="servicios serv-comp">
                        <label for="serv-complejo-3">Serv. Asadores:</label>
                        ASADORES<input type="checkbox" name="serv-complejo-3" value="1"><br>
                        HORNO DE BARRO<input type="checkbox" name="serv-complejo-3" value="2">
                    </div>
                    <div class="servicios serv-comp">
                        <label for="serv-complejo-4">Serv. Comidas:</label>
                        DESAYUNO<input type="checkbox" name="serv-complejo-4" value="1"><br>
                        BAR / COMEDOR<input type="checkbox" name="serv-complejo-4" value="3"><br>
                        DESAYUNO + ALMUERZO<input type="checkbox" name="serv-complejo-4" value="2">

                    </div>
                    <div class="servicios serv-comp">
                        <label for="serv-complejo-5">Serv. Ropa Blanca:</label>
                        SABANAS<input type="checkbox" name="serv-complejo-5" value="1"><br>
                        SABANAS / FRAZADAS<input type="checkbox" name="serv-complejo-5" value="2"><br>
                        SABANAS / FRAZADAS / TOALLAS<input type="checkbox" name="serv-complejo-5" value="3">
                    </div>
                    <div class="servicios serv-comp">
                        <label for="serv-complejo-6">Otros Servicios:</label>
                        QUINCHOS<input type="checkbox" name="serv-complejo-6" value="3"><br>
                        TRASLADOS<input type="checkbox" name="serv-complejo-6" value="9"><br>
                        PARQUIZADO<input type="checkbox" name="serv-complejo-6" value="1"><br>
                        LAVANDERIA<input type="checkbox" name="serv-complejo-6" value="6"><br>
                        EXCURSIONES<input type="checkbox" name="serv-complejo-6" value="7"><br>
                        JUEGOS P/ NIÑOS<input type="checkbox" name="serv-complejo-6" value="2"><br>
                        ENTRETENIMIENTO<input type="checkbox" name="serv-complejo-6" value="8"><br>
                        MESAS EXTERIORES<input type="checkbox" name="serv-complejo-6" value="5"><br>
                        CANCHAS DEPORTIVAS<input type="checkbox" name="serv-complejo-6" value="4">
                    </div>
                    <div>
                        <label for="otros-serv">Más Servicios:</label>
                        <textarea name="otros-serv" id="otros-serv" cols="60" rows="10"
                            placeholder="Adicionar otros servicios que no se hayan considerado..."></textarea>
                    </div>
                </div>
            </div>
            <div class="boton-enviar">
                <button type="button" id="boton" onclick="validarComplejo()">AGREGAR COMPLEJO</button>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">CABANIAPP</h2>
  
            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="/admin-inicio.html" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-agregar-cabania.html" class="nav__links">Cabañas</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-contabilidad.html" class="nav__links">Contabilidad</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-agenda.html" class="nav__links">Agenda</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-preguntas.html" class="nav__links">Preguntas Frecuentes</a>
                </li>
            </ul>
        </nav>
  
        <form class="footer__form" action="#" method="POST">
            <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                <input type="button" value="Registrate" class="footer__submit" onclick="enviarAHome()">
                <script>
                    function enviarAHome(){
                        document.location.href = "index.html"
                    }
                </script>
            </div>
        </form>
    </section>
  
    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="./img/img-svg/facebook.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/instagram.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/whatsapp.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/gmail.svg" class="footer__img"></a>
        </div>
  
        <h3 class="footer__copyright">Derechos reservados &copy; ISPC</h3>
    </section>
  </footer>

    <script src="js/valid-form.js"></script>
</body>

</html>