<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/admin-inicio.css">
    <link rel="stylesheet" href="./css/normalize.css">

    <meta name="theme-color" content="#2091F9">

</head>

<body class="background-style">

    <!-- HEADER -->
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Panel de Control</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="./admin-perfil.html" class="nav__links">Perfil</a>
                </li>
                <li class="nav__items">
                    <a href="./admin-agregar-cabania.html" class="nav__links">Cabañas</a>
                </li>
                <li class="nav__items">
                    <a href="./admin-contabilidad.html" class="nav__links">Contabilidad</a>
                </li>
                <li class="nav__items">
                    <a href="./admin-agenda.html" class="nav__links">Agenda</a>
                </li>

                <img src="#" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="#" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Bienvenido a tu Sistema de Administración</h1>
            <p class="hero__paragraph">Encuentra todo en un mismo lugar</p>
            <a href="#" class="cta">Comienza ahora</a>
        </section>
    </header>


    <!-- ICONOS DE ACCESO A OTROS HTML -->
    <main class="background-style">
        <section class="container about">

            <div class="about__main">

                <article class="about__icons">
                    <img src="./img/gif/perfil.gif" class="about__icon">
                    <a href="./admin-perfil.html" class="nav__links"><h3 class="about__title"> PERFIL</h3></a>
                    <p class="about__paragrah">Configura tu perfil de administrador agregando todos los datos pertinentes.</p>
                </article>

                <article class="about__icons">
                    <img src="./img/gif/hogar.gif" class="about__icon">
                    <a href="./admin-agregar-cabania.html" class="nav__links"><h3 class="about__title"> CABAÑAS</h3></a>
                    <p class="about__paragrah">Coloca imagenes de tus cabañas y agrega informacion para tus clientes.</p>
                </article>

                <article class="about__icons">
                    <img src="./img/gif/controlar.gif" class="about__icon">
                    <a href="./admin-contabilidad.html" class="nav__links"><h3 class="about__title"> CONTABILIDAD</h3></a>
                    <p class="about__paragrah">Obtiene un informe detallado de los movimientos del complejo de cabañas</p>
                </article>

                <article class="about__icons">
                    <img src="./img/gif/computadora-portatil.gif" class="about__icon">
                    <a href="./admin-agenda.html" class="nav__links"><h3 class="about__title"> AGENDA</h3></a>
                    <p class="about__paragrah">Gestiona las reservas de tus clientes tanto las realizadas en la pagina como en recepcion.</p>
                </article>

                <article class="about__icons">
                    <img src="./img/gif/ajustes.gif" class="about__icon">
                    <a href="http://15.228.23.125/cv-castillo-lamas-haydee-dayana/" class="nav__links"><h3 class="about__title"> SERVICIO TECNICO</h3></a>
                    <p class="about__paragrah">Solicita ayuda cuando quieras y necesites a solo un clik</p>
                </article>

                <article class="about__icons">
                    <img src="./img/gif/burbuja-de-dialogo.gif" class="about__icon">
                    <a href="/admin-preguntas.html" class="nav__links"><h3 class="about__title"> PREGUNTAS FRECUENTES</h3></a>
                    <p class="about__paragrah">Consulta las respuestas a las preguntas mas planteadas y continua con tu gestion.</p>
                </article>
            </div>
        </section>

        <!-- FOOTER -->
<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">CABANIAPP</h2>
  
            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="/admin-inicio.html" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-agregar-cabania.html" class="nav__links">Cabañas</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-contabilidad.html" class="nav__links">Contabilidad</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-agenda.html" class="nav__links">Agenda</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-preguntas.html" class="nav__links">Preguntas Frecuentes</a>
                </li>
            </ul>
        </nav>
  
        <form class="footer__form" action="#" method="POST">
            <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                <input type="button" value="Registrate" class="footer__submit" onclick="enviarAHome()">
                <script>
                    function enviarAHome(){
                        document.location.href = "index.html"
                    }
                </script>
            </div>
        </form>
    </section>
  
    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="./img/img-svg/facebook.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/instagram.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/whatsapp.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/gmail.svg" class="footer__img"></a>
        </div>
  
        <h3 class="footer__copyright">Derechos reservados &copy; ISPC</h3>
    </section>
  </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>