<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin-forms.css">
    <link rel="stylesheet" href="./css/admin-inicio.css">
    <link rel="stylesheet" href="./css/admin-header.css">

    <title>Perfil Administrador</title>
</head>

<body class="background-style">
    <!-- HEADER -->
  <header>
    <section>
      <div class="conte">
        <p>GESTION DE TU PERFIL</p>
        <a href="./admin-inicio.html">Volver a Inicio</a>
      </div>
    </section>
  </header>

    <main>
        <div class="container">
            <div class="forms-cabanias">
                <div class="perfil form-cabania">
                    <form name="fvalida">
                        <legend>Perfil Administrador</legend>
                        <div class="datos">
                            <label for="nombAdmin" id="lblNombAdmin">Nombre:</label>
                            <input type="text" id="nombAdmin" placeholder="Nombre administrador.">
                        </div>
                        <div class="datos">
                            <label for="apellidoAdmin" id="lblApellidoAdmin">Apellido:</label>
                            <input type="text" id="apellidoAdmin" placeholder="Apellido administrador.">
                        </div>
                        <div class="datos">
                            <label for="dniAdmin" id="lblDniAdmin">DNI:</label>
                            <input type="text" id="dniAdmin" minlength="7" maxlength="8" placeholder="DNI administrador.">
                        </div>

                        <div class="datos">
                            <label for="nacAdmin" id="lblNacAdmin">Fecha de Nacimiento:</label>
                            <input type="date" id="nacAdmin" placeholder="Fecha de nacimiento administrador. ">
                        </div>
                        <div class="datos">
                            <label for="contactoAdmin" id="lblContactoAdmin">Teléfono:</label>
                            <input type="text" id="contactoAdmin" minlength="9" maxlength="15" placeholder="N° de teléfono administrador.">
                        </div>
                       <!-- Email se saca desde el usuario. -->
                        <button id="boton" type="button" onclick="validarPerfilAdmin()">AGREGAR</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">CABANIAPP</h2>
  
            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="/admin-inicio.html" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-agregar-cabania.html" class="nav__links">Cabañas</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-contabilidad.html" class="nav__links">Contabilidad</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-agenda.html" class="nav__links">Agenda</a>
                </li>
                <li class="nav__items">
                    <a href="/admin-preguntas.html" class="nav__links">Preguntas Frecuentes</a>
                </li>
            </ul>
        </nav>
  
        <form class="footer__form" action="#" method="POST">
            <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                <input type="button" value="Registrate" class="footer__submit" onclick="enviarAHome()">
                <script>
                    function enviarAHome(){
                        document.location.href = "index.html"
                    }
                </script>
            </div>
        </form>
    </section>
  
    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="./img/img-svg/facebook.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/instagram.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/whatsapp.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./img/img-svg/gmail.svg" class="footer__img"></a>
        </div>
  
        <h3 class="footer__copyright">Derechos reservados &copy; ISPC</h3>
    </section>
  </footer>
    

    <script src="./js/valid-form.js"></script>

</body>

</html>