<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINK -->
	<link rel="stylesheet" href="./css/admin-inicio.css">
	<link rel="stylesheet" href="./css/admin-header.css">
	<link rel="stylesheet" href="./css/admin-preguntas.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	<!-- HEADER -->
	<header class="mb-2">
		<section>
			<div class="conte">
				<p style="color: #fff">PREGUNTAS FRECUENTES</p>
				<a href="./admin-inicio.html">Volver a Inicio</a>
			</div>
		</section>
	</header>

	<!-- Preguntas Frecuentes -->
	<main>
		<h1 class="titulo">Preguntas Frecuentes</h1>
		<div class="categorias" id="categorias">
			<div class="categoria activa" data-categoria="metodos-pago">
				<img src="./img/img-svg/pagos.svg" alt="Metodos de Pago" class="iconos">
				<p>Métodos de pago</p>
			</div>
			<div class="categoria" data-categoria="entregas">
				<img src="./img/img-svg/entrega.svg" alt="Metodos de Pago" class="iconos">
				<p>Reservas</p>
			</div>
			<div class="categoria" data-categoria="seguridad">
				<img src="./img/img-svg/seguridad.svg" alt="Metodos de Pago" class="iconos">
				<p>Seguridad</p>
			</div>
			<div class="categoria" data-categoria="cuenta">
				<img src="./img/img-svg/cuenta.svg" alt="Metodos de Pago" class="iconos">
				<p>Cuenta</p>
			</div>
		</div>

		<div class="preguntas">

			<!-- Preguntas Metodos de pago -->
			<div class="contenedor-preguntas activo" data-categoria="metodos-pago">
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Que metodos de pago disponibles tienen? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam
						mollitia! Nostrum eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus
						eligendi vel saepe harum. Consectetur, doloribus.adipisicing elit.</p>
				</div>
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Tienen plazo de pago? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.</p>
				</div>
			</div>

			<!-- Preguntas Reservas -->
			<div class="contenedor-preguntas" data-categoria="entregas">
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Como realizo mi reserva? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum
						eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe
						harum. Consectetur, doloribus.</p>
				</div>
				<div class="contenedor-pregunta">
					<p class="pregunta">¿En cuanto sale el envio a mi país? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.</p>
				</div>
			</div>

			<!-- Preguntas Seguridad -->
			<div class="contenedor-preguntas" data-categoria="seguridad">
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Como puedo saber si son confiables? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum
						eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe
						harum. Consectetur, doloribus.</p>
				</div>
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Que pasa con mis datos personales? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.</p>
				</div>
			</div>

			<!-- Preguntas Cuenta -->
			<div class="contenedor-preguntas" data-categoria="cuenta">
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Como puedo acceder a mis pedidos? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum
						eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe
						harum. Consectetur, doloribus.</p>
				</div>
				<div class="contenedor-pregunta">
					<p class="pregunta">¿Como puedo cambiar mi contraseña? <img src="./img/img-svg/suma.svg"
							alt="Abrir Respuesta" /></p>
					<p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum
						porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta
						adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing
						elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente,
						voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur,
						doloribus.</p>
				</div>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer">
		<section class="footer__container container">
			<nav class="nav nav--footer">
				<h2 class="footer__title">CABANIAPP</h2>

				<ul class="nav__link nav__link--footer">
					<li class="nav__items">
						<a href="/admin-inicio.html" class="nav__links">Inicio</a>
					</li>
					<li class="nav__items">
						<a href="/admin-agregar-cabania.html" class="nav__links">Cabañas</a>
					</li>
					<li class="nav__items">
						<a href="/admin-contabilidad.html" class="nav__links">Contabilidad</a>
					</li>
					<li class="nav__items">
						<a href="/admin-agenda.html" class="nav__links">Agenda</a>
					</li>
					<li class="nav__items">
						<a href="/admin-preguntas.html" class="nav__links">Preguntas Frecuentes</a>
					</li>
				</ul>
			</nav>

			<form class="footer__form" action="#" method="POST">
				<h2 class="footer__newsletter">Suscribete a la newsletter</h2>
				<div class="footer__inputs">
					<input type="email" placeholder="Email:" class="footer__input" name="_replyto">
					<input type="button" value="Registrate" class="footer__submit" onclick="enviarAHome()">
					<script>
						function enviarAHome() {
							document.location.href = "index.html"
						}
					</script>
				</div>
			</form>
		</section>

		<section class="footer__copy container">
			<div class="footer__social">
				<a href="#" class="footer__icons"><img src="./img/img-svg/facebook.svg" class="footer__img"></a>
				<a href="#" class="footer__icons"><img src="./img/img-svg/instagram.svg" class="footer__img"></a>
				<a href="#" class="footer__icons"><img src="./img/img-svg/whatsapp.svg" class="footer__img"></a>
				<a href="#" class="footer__icons"><img src="./img/img-svg/gmail.svg" class="footer__img"></a>
			</div>

			<h3 class="footer__copyright">Derechos reservados &copy; ISPC</h3>
		</section>
	</footer>

</body>