<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente: datos personlaes</title>

    <link rel="stylesheet" href= "./css/admin-estilo.css">
    <link rel="stylesheet" href= "./css/cliente-footerN.css">
    <link rel="stylesheet" href= "./css/cliente-style1.css">
    <link rel="stylesheet" href= "./css/admin-header.css">
    

</head>

<body class="grid-container">
    
  <!-- HEADER -->
  <header class="mb-2">
    <section>
      <div class="conte">
        <p>FORMULARIO DATOS PERSONALES</p>
        <a href= "./cliente-home.html">Volver a Inicio</a>
      </div>
    </section>
  </header>

  <!------------------------------------------------------------------------------------------------------------>

  <div class="navbar">
        <ul>
            <li><a class="active" href= "./cliente-datos-personales.html">Datos personales</a></li>
            <li><a href= "./cliente-pago-con-tarjetas.html">Tarjeta de pago</a></li>
            <li><a href= "./cliente-form-reservas.html">Reservas</a></li>
            <li><a href= "./cliente-seguridad.html">Seguridad</a></li>
            <li><a href= "./cliente-form-busqueda.html">Busqueda</a></li>
        </ul>
    </div>

    <article class="main">
    
      <div class="container">
        <div class="form-cliente">
        <form id="formulario" action="datos-cliente.php" method="post" id="formulario">
          <h1>Completa tus datos personales</h1><br>
          <div class="datos">
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" id="nombre" size="30" placeholder="ingrese su nombre">
          </div>
          <div class="datos">
            <label for="apellido">Apellido</label><br> 
            <input type="text" name="apellido" id="apellido" placeholder="ingrese su apellido">
          </div>
          <div class="datos">
            <label for="email">Dirección de e-mail</label><br> 
            <input type="email" name="email" id="email" placeholder="ingrese su e-mail">
          </div>
          <div class="datos">
            <label for="celular">Número de teléfono móvil</label><br>
            <input type="tel" id="celular" name="celular" placeholder="54-11-12345678">
            <!-- pattern="[0-9]{2}-[0-9]{2}-[0-9]{8}" required -->
          </div>
          <div class="datos">
            <label for="fecha-nacimiento">Fecha de nacimiento</label><br>
            <input type="date" id="fecha-nacimiento" name="fecha-nacimiento">
          </div>
          <div class="datos">
              <label for="pais-elegido">Nacionalidad</label><br>
              <select id="pais-elegido" name="seleccion_pais" required>
                <option value="no-pais-declarado">Seleccioná tu país de origen</option>
                <option value="argentina">Argentina</option>
                <option value="bolivia">Bolivia</option>
                <option value="brasil">Brasil</option>
                <option value="chile">Chile</option>
                <option value="uruguay">Uruguay</option>
                <option value="venezuela">Venezuela</option>
                <option value="otro">Otro país</option>
              </select>
            </div>
            <div class="datos">
              <label for="genero-elegido">Género</label><br>
              <select id="genero-elegido" name="seleccion_genero" required>
                <option value="genero-no-declarado">Seleccioná tu sexo</option>
                <option value="hombre">Soy hombre</option>
                <option value="mujer">Soy mujer</option>
                <option value="no-binario">Soy de género no binario</option>
                <option value="en-privacidad">Elijo mantenerlo en privacidad</option>
              </select><br><br>
              </div>

              <h1>Dirección</h1>
              <div class="datos">
              <label for="pais-elegido">País</label><br>
              <select id="pais-elegido" name="seleccion_pais" required>
                <option value="no-pais-declarado">Seleccioná el país donde vivis</option>
                <option value="argentina">Argentina</option>
                <option value="bolivia">Bolivia</option>
                <option value="brasil">Brasil</option>
                <option value="chile">Chile</option>
                <option value="uruguay">Uruguay</option>
                <option value="venezuela">Venezuela</option>
                <option value="otro">Otro país</option>
              </select>
              </div>
              <div class="datos">
            <label for="calle-numero">Nombre y número de la calle</label><br> 
            <input type="text" name="calle-numero" id="calle-numero" placeholder="ingrese nombre y número de la calle">
               </div>
               <div class="datos">
              <label for="Ciudad">Ciudad</label><br>
              <input type="text" id="Ciudad" name="total_adultos" placeholder="ingresa la ciudad" required>
              </div>
              <div class="datos">
              <label for="codigo-postal">Código postal</label><br>
              <input type="text" id="codigo-postal" name="codigo-postal" placeholder="ingresa el CP">
              <div class="datos">
            <input class="button" type="submit" value="Guardar">
          </div>
          
          </form>
        </div>
        </div>
    </article>

    <!-- FOOTER -->
    <footer class="footer">
      <section class="footer__container container">
          <nav class="nav nav--footer">
              <h2 class="footer__title">CABANIAPP</h2>
    
              <ul class="nav__link nav__link--footer">
                  <li class="nav__items">
                      <a href= "./cliente-home.html" class="nav__links">Inicio</a>
                  </li>
                  <li class="nav__items">
                      <a href= "./cliente-quienes somos.html" class="nav__links">Quienes Somos</a>
                  </li>
                  <li class="nav__items">
                      <a href= "./cliente-pago-con-tarjetas.html" class="nav__links">Mi Cuenta</a>
                  </li>
                  <li class="nav__items">
                      <a href= "./cliente-contacto.html" class="nav__links">Contacto</a>
                  </li>
                  <li class="nav__items">
                      <a href= "#" class="nav__links">Preguntas Frecuentes</a>
                  </li>
              </ul>
          </nav>
    
          <form class="footer__form">
              <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
              <div class="footer__inputs">
                  <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                  <input type="submit" value="Registrate" class="footer__submit">
                </script>
              </div>
          </form>
      </section>
    
      <section class="footer__copy container">
          <div class="footer__social">
              <a href="#" class="footer__icons"><img src= "./img/img-svg/facebook.svg" class="footer__img"></a>
              <a href="#" class="footer__icons"><img src= "./img/img-svg/instagram.svg" class="footer__img"></a>
              <a href="#" class="footer__icons"><img src= "./img/img-svg/whatsapp.svg" class="footer__img"></a>
              <a href="#" class="footer__icons"><img src= "./img/img-svg/gmail.svg" class="footer__img"></a>
          </div>
    
          <h3 class="footer__copyright">Derechos reservados &copy; ISPC</h3>
      </section>
    </footer>

    
    <script src="./js/cliente-datos-personales.js"></script> 
  </body>
</html>