<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/cliente-footerN.css">
  <link rel="stylesheet" href="./css/admin-header.css">
  <link rel="stylesheet" href="./css/cliente-main.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->

  <title>Home CabaniApp</title>
</head>

<body class="fondo_general">
  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col">

        <!-- <header style="color:white">
          <h1 class="mb-0">Contacto</h1>
        </header> -->

        <!-- HEADER -->
        <header class="mb-2">
          <section>
            <div class="conte">
              <p>BIENVENIDO A CABANIAPP</p>
            </div>
          </section>
        </header>


        <nav class="navbar  navbar-expand-md" style="background-color: #e7b242e9 ;">
          <div class="container-fluid">
            <img src="./img/logos/logo.png" alt="Bootstrap" width="70" height="50">
            <a class="navbar-brand" href="cliente-home.html">CabaniApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="./cliente-home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="./cliente-quienes somos.html">¿Quienes somos?</a></li>
                <li class="nav-item"><a class="nav-link" href="./cliente-contacto.html">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="./cliente-pago-con-tarjetas.html">Mi Cuenta</a></li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
  </div>




  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col">
        <h3><strong>¿Cómo funciona?</strong></h3>
        <p>Busca las cabañas deacuerdo a tus preferencias.</p>
      </div>

      <div class="col">
        <h3><strong>¿Donde puedo reservar?</strong></h3>
        <p>Elegi la provincia que mas te interese y luego realizá la reserva con tus datos.</p>
      </div>

      <div class="col">
        <h3><strong>¿Como Págo?</strong></h3>
        <p> Usa tu tarjeta favorita.</p>
      </div>
    </div>

    <div class="d-flex flex-wrap flex-row-reverse">

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 cass="card-title">Buenos Aires</h4>
          <img class="card-img-top" src="./img/img-clientes/Buenos Aires.jpg" alt="Imagen de provincia de Buenos Aires">
          <p class="card-text">La Provincia ofrece entornos naturales únicos y sustentables, experiencias de turismo
            comunitario en pequeños poblados, destinos accesibles distinguidos, gastronomía de excelencia y un legado
            histórico y cultural vinculado a la tradición rural.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">C.A.B.A </h4>
          <img classs="card-img-top" src="./img/img-clientes/Capital Federal.jpg"
            alt="Imagen Ciudad Autonoma de Buenos Aires">
          <p class="card-text">Buenos Aires es la gran capital cosmopolita de Argentina. Su centro es la Plaza de Mayo,
            rodeada de imponentes edificios del siglo XIX, </p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Cordoba</h4>
          <img classs="card-img-top" src="./img/img-clientes/Cordoba.jpg" alt="Imagen provincia de Cordoba">
          <p class="card-text">La ciudad tiene puntos históricos, culturales y turísticos importantes. La Cañada de
            Córdoba es el encauzamiento parcial de un arroyo que cruza la ciudad de sur a norte. El Arco de Córdoba es
            un importante símbolo de la cultura ubicado en el ingreso sureste, sobre la Avenida Amadeo Sabattini.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Mendoza</h4>
          <img classs="card-img-top" src="./img/img-clientes/Mendoza.jpg" alt="Imagen provincia de Mendoza">
          <p class="card-text">Entre los lugares para visitar encontrarás la plaza San Martin y la catedral de estilo
            neorromántica, llamada San Rafael Arcángel, así como cafeterías como Sr. Café y Oasis Café. Es una ciudad
            llena de turismo donde podrás andar en bicicleta de montaña, escalar, hacer rappel y paseos en parapente.
          </p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Corrientes</h4>
          <img classs="card-img-top" src="./img/img-clientes/Corrientes.jpg" alt="Imagen provincia de Corrientes">
          <p class="card-text">Los diferentes destinos en Corrientes son ideales para practicar canotaje, trekking,
            mountain bike, turismo de aventura, 4x4, safaris fotográficos, birdwatching o fascinarse con senderos de
            interpretación </p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Entre Rios</h4>
          <img classs="card-img-top" src="./img/img-clientes/Entre Rios.jpg" alt="Imagen provincia de Entre Rios">
          <p class="card-text">Ciudades como Gualeguaychú con sus carnavales y la belleza de sus playas, La Paz con sus
            sinuosas islas y dorados gigantes, Colón con el Parque Nacional El Palmar y sus exuberantes y caprichosas
            mil palmeras, ciudades tranquilas como Chajarí, Federación, Villa Elisa y Victoria </p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Formosa</h4>
          <img classs="card-img-top" src="./img/img-clientes/Formosa.jpg" alt="Imagen provincia de Formosa">
          <p class="card-text">La diversidad social de Formosa se hace evidente en centenares de manifestaciones
            culturales: música, artesanías, idiomas, creencias religiosas y gastronomía. Un conjunto de identidades que
            se han integrado para crear una nueva idiosincrasia. Sus manos se mueven lentamente.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Jujuy</h4>
          <img classs="card-img-top" src="./img/img-clientes/Jujuy.jpg" alt="Imagen provincia de Jujuy">
          <p class="card-text">Salpicada por grandes cerros, paisajes multicolores y preciosos pueblos, esta provincia
            es de las más bellas del país. Desde Purmamarca con su famoso cerro de los 7 colores, pasando por Humahuaca,
            el Pucara de Tilcara y las Salinas Grandes, la provincia atrae con la variedad de lugares que visitar en
            Jujuy.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Salta</h4>
          <img classs="card-img-top" src="./img/img-clientes/Salta.jpg" alt="Imagen provincia de Salta">
          <p class="card-text">para conocer Salta Capital y sus alrededores, con las excursiones imperdibles de un día
            desde la ciudad, es ideal contar al menos con 5 días (que fácilmente pueden extenderse a 6, 7 o más).</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Tucumán</h4>
          <img classs="card-img-top" src="./img/img-clientes/Tucuman.jpg" alt="Imagen provincia de Tucumán">
          <p class="card-text">Es sinónimo de eventos nacionales e internacionales. Se destaca como sede de
            acontecimientos deportivos, culturales y académicos de alto nivel: Cumbre de Presidentes del MERCOSUR, la
            World League de Hockey sobre césped y el Rally Dakar, entre otros.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">La Pampa</h4>
          <img classs="card-img-top" src="./img/img-clientes/La Pampa.html" alt="Imagen provincia de La Pampa ml-2">
          <p class="card-text">No es solo sinónimo de turismo rural, también tiene termas, reservas naturales y hasta
            una ruta del vino.
            Con nuevas propuestas y la reedición de los atractivos tradicionales, La Pampa se posiciona como una
            propuesta muy interesante para realizar un paseo diferente en Argentina. </p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">La Rioja</h4>
          <img classs="card-img-top" src="./img/img-clientes/La Rioja.jpg" alt="Imagen provincia de La Rioja">
          <p class="card-text">Las atracciones como el Cañón de Talampaya, el Jardín Botánico, La Ciudad Perdida y El
            Cañón del Arcoiris forman parte de este Sitio declarado Patrimonio de la Humanidad por la UNESCO (junto con
            el vecino Parque Provincial de Ischigualasto).</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Misiones</h4>
          <img classs="card-img-top" src="./img/img-clientes/Misiones.jpg" alt="Imagen provincia de Misiones">
          <p class="card-text">Consagradas entre las 7 Maravillas Naturales del Mundo, las Cataratas del Iguazú son el
            atractivo natural más visitado de la provincia de Misiones y uno de los más imponentes de la Argentina y el
            mundo.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Neuquén</h4>
          <img classs="card-img-top" src="./img/img-clientes/Neuquen.jpg" alt="Imagen provincia de Neuquén ml-2">
          <p class="card-text">La variada oferta de actividades va desde rafting, kayak, trekking y senderismo,
            cabalgatas, turismo comunitario mapuche, pesca deportiva, gastronomía regional y fiestas populares, entre
            otras</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Rio Negro</h4>
          <img classs="card-img-top" src="./img/img-clientes/Rio Negro.jpg" alt="Imagen provincia de Rio Negro ml-2">
          <p class="card-text">Es uno de los lugares más intensos e increíbles de Argentina. Vas a descubrir vistas
            impresionantes, lagos, arroyos, ríos de deshielo y montañas. Vas a disfrutar del aire puro, y de los
            paisajes que se tiñen del color de cada temporada.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">San Juan</h4>
          <img classs="card-img-top" src="./img/img-clientes/San Juan.jpg" alt="Imagen provincia de San Juan">
          <p class="card-text">En San Juan hay actividades que estimulan todos los sentidos y que son ideales para los
            fanáticos del deportes y las aventuras.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">San Luis</h4>
          <img classs="card-img-top" src="./img/img-clientes/San Luis.jpg" alt="Imagen San Luis">
          <p class="card-text">Entre los mejores paseos dentro de la ciudad están el Parque Centenario y el Parque de
            las Naciones. Si deseas conocer arquitectura neoclásica la Iglesia Catedral de San Luis es el lugar perfecto
            con sus torres gemelas y cúpula semiesférica.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Santa Cruz</h4>
          <img classs="card-img-top" src="./img/img-clientes/Santa Cruz.jpg" alt="Imagen provincia de Santa Cruz">
          <p class="card-text">Su principal atractivo son sus impactantes dunas que alcanzan grandes metros de altura,
            acompañadas de lagunas formadas por las lluvias y riachuelos.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Santa Fe</h4>
          <img classs="card-img-top" src="./img/img-clientes/Santa Fe.jpg" alt="Imagen provincia de Santa Fe">
          <p class="card-text">Su destacada infraestructura es requerida para la organización de congresos, ruedas de
            negocios, convenciones, y grandes espectáculos deportivos o culturales. El renovado ímpetu urbanístico que
            protagonizan las ubica como lugares privilegiados.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Santiago del Estero</h4>
          <img classs="card-img-top" src="./img/img-clientes/Santiago del Estero.jpg" alt="Imagen Santiago del Estero">
          <p class="card-text">Para tener la mejor vista de la ciudad, lo mejor es subir al mirador de las Torres
            Gemelas. Si te gusta la cultura, el Centro Cultural del Bicentenario es un diez (creado hace poco en el
            antiguo Cabildo). Y si queres hacer algo bien típico, andá a una peña.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Catamarca</h4>
          <img classs="card-img-top" src="./img/img-clientes/Catamarca.jpg" alt="Imagen provincia de Catamarca">
          <p class="card-text">La provincia ostenta entre sus atractivos naturales a varias montañas que forman la ruta
            de los "Seismiles", todos picos de más de 6000 metros de altura con nieves eternas. A estos se suman lagunas
            de altura y los volcanes más elevados del mundo, los que año a año suman adeptos que quieren llegar a sus
            cumbres.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Chaco</h4>
          <img classs="card-img-top" src="./img/img-clientes/Chaco.jpg" alt="Imagen provincia de Chaco">
          <p class="card-text">Tiene una de las aguas termales con más propiedades terapéuticas reconocidas
            científicamente (cerca de 40), localizadas en la ciudad de Presidencia Roque Sáenz Peña, donde se encuentra
            el Complejo Termal. Además, en la ciudad de Resistencia se han establecido spas y centros de tratamientos de
            bienestar y belleza de primer nivel, algunos dentro de los hoteles del grupo Amerian.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Chubut</h4>
          <img classs="card-img-top" src="./img/img-clientes/Chubut.jpg" alt="Imagen provincia de Chubut">
          <p class="card-text">Estos son los mejores lugares para los amantes de la adrenalina que buscan atracciones y
            lugares de interés en Provincia de Chubut: La Trochita-viejo expreso patagonico en Esquel. Museo
            Paleontologico Egidio Feruglio. Complejo Hidroelectrico Futaleufu.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

      <div class="card card-cabaña col-sm-3 justifi-content-between ml-2">
        <div class="card-body">
          <h4 class="card-title">Tierra del Fuego</h4>
          <img classs="card-img-top" src="./img/img-clientes/Tierra del Fuego.jpg" alt="Imagen Tierra del Fuego">
          <p class="card-text">Actividades que tienen fines recreativos y de observación; realizadas para el estudio
            científico de cuevas, sótanos y cavernas, incluidas sus diversas características como la estructura,
            historia, formas de vida y los procesos por los cuales se forman al paso del tiempo.</p>
        </div>
        <button class="btn btn-primary">Reserva</button>
      </div>

    </div>
  </div>

  <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

  <!-- FOOTER -->
  <footer class="footer">
    <section class="footer__container container">
      <nav class="nav nav--footer">
        <h2 class="footer__title">CABANIAPP</h2>

        <ul class="nav__link nav__link--footer">
          <li class="nav__items">
            <a href="./cliente-home.html" class="nav__links">Inicio</a>
          </li>
          <li class="nav__items">
            <a href="./cliente-quienes somos.html" class="nav__links">Quienes Somos</a>
          </li>
          <li class="nav__items">
            <a href="./cliente-pago-con-tarjetas.html" class="nav__links">Mi Cuenta</a>
          </li>
          <li class="nav__items">
            <a href="./cliente-contacto.html" class="nav__links">Contacto</a>
          </li>
          <li class="nav__items">
            <a href="#" class="nav__links">Preguntas Frecuentes</a>
          </li>
        </ul>
      </nav>

      <form class="footer__form">
        <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
        <div class="footer__inputs">
            <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
            <input type="submit" value="Registrate" class="footer__submit">
          </script>
        </div>
    </form>
    </section>

    <section class="footer__copy container">
      <div class="footer__social">
        <a href="#" class="footer__icons"><img src="./img/img-svg/facebook.svg" class="footer__img"></a>
        <a href="#" class="footer__icons"><img src="./img/img-svg/instagram.svg" class="footer__img"></a>
        <a href="#" class="footer__icons"><img src="./img/img-svg/whatsapp.svg" class="footer__img"></a>
        <a href="#" class="footer__icons"><img src="./img/img-svg/gmail.svg" class="footer__img"></a>
      </div>

      <h3 class="footer__copyright">Derechos reservados &copy; ISPC</h3>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="JavaScript/valid-crearCuenta.js"></script>
</body>

</html>