<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/cliente-footerN.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>Login & Register</title>
</head>

<body>
    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h1>Bienvenido a CabaniApp</h1>

                <p>Si ya tenes una cuenta por favor inicia sesion aqui</p>
            </div>
            <a class="sign-up-btn" href="./admin-inicio.html">Administrador</a>
            <a class="sign-up-btn" href="./cliente-home.html">Cliente</a>
        </div>
        <form class="formulario" name="fvalida">
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class="bi bi-google"></i>
                </div>
                <div class="border-icon">
                    <i class="bi bi-facebook"></i>
                </div>
                <div class="border-icon">
                    <i class="bi bi-linkedin"></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crear una cuenta gratis</p>
            <input type="text" placeholder="Nombre" name="nombre">
            <input type="email" placeholder="E-mail" name="email">
            <input type="password" placeholder="Contraseña" name="password">
            <input type="password" placeholder="Repetir Contraseña" name="password2">
            <input type="button" placeholder="Registrarse" id="NuevaCuenta_Button" onclick="validarNuevaCuenta()">
        </form>
    </div>

    <script src="./js/login.js"></script>
    <script src="./js/login-valid_crearCuenta.js"></script>
</body>

</html>