main {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
  }

  header{
    display: grid;
    grid-template-columns: 0.5fr 11.5fr;
    height: 150px;
    background-color: hsl(47, 100%, 90%);
}
.logo{
  margin-right: 10px;
}

header .titulo-central{ 
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  color: #322701;
}

.cuadro-sup{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  background-color: #2E2300 ;
  color: goldenrod;
}

.cuadro-sup h2{
  font-size: 3em;
}
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined { 
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label { 
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea { 
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input { 
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr { 
    border: 1px dotted #ccc;
  }
  
  button { 
    height: 70px;
    background: rgba(219, 143, 2, 0.438);
    border: 1;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer; 
  
  }

  .col{
    margin-top: 72px;
  }
  
  button:hover {
    border: 2px solid black;
  }

  .background-style {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#966042, #c4a86d, #966042);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#966042, #c4a86d, #966042);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}