:root {
    --padding-container: 0px 0px 0% 0px !important;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
}

body {
    color: black;
    font-family: 'calibri';

}

.container{
    padding: var(--padding-container);
}

.background-style {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c4a86d, #966042, #c4a86d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c4a86d, #966042, #c4a86d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-cabania select{
    padding: 3px;
}

header {
    /*background: url('../img/complejo\ cabañas\ 2.jpeg');*/
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/complejo\ cabañas\ 2.jpeg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-bottom: 10%; */
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
}

section h1 {
    font-size: 44px;
}

.conte {
    text-align: center;
}

.conte p {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
    color: #fff;
}

.conte a {
    color: white;
    text-decoration: none;
    background: #8BC34A;
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 30px;
    margin: 10px;
}




.cuadro-sup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    background-color: #2E2300;
    color: goldenrod;
}

.cuadro-sup h1 {
    font-size: 3em;
}

.selec-complejo h2 {
    margin-bottom: 3px;
}

.selec-complejo select {
    padding: 3px;
    margin-top: 5px;
}

.selec-complejo button {
    padding: 4px;
    margin-left: 10px;
    background-color: hsl(47, 100%, 90%);
    border: 1px solid #2E2300;
    border-radius: 5px;
}

.selec-complejo a {
    font-size: 1.1em;
    text-decoration: none;
    color: #2E2300;
}

.forms-cabanias {
    display: flex;
    gap: 10px;
    text-align: center;
}

.form-cabania {
    margin: 15px;
    width: 50%;
    color: hsl(47deg 97% 90%);
    background-color: #78451a;
    border-radius: 15px;
    border: 2px solid #2E2300;
}

.form-cabania legend {
    color: #2E2300;
}

.boton-enviar {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

/* Modificaciones personales de form reserva admin. */
#reserva {
    width: 60%;
}

#info-principal {
    display: flex;
    justify-content: space-around;
}

#info-principal .datos {
    width: 90%;
}

#info-pagos {
    display: flex;
    justify-content: space-around;
}

#info-pagos .datos {
    width: 35%;
}

.form-cabania legend {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    background-color: hsl(47, 100%, 90%);
    border: 2px solid hsl(47, 40%, 75%);
    border-radius: 10px;

}

.form-cabania .legend2 {
    margin-right: 25px;
}

.form-cabania label {
    display: block;
    font-size: 1.5em;
}

.form-cabania .opciones {
    margin: 10px 0px 20px 0px;
}

.form-cabania .opciones label {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5em;
}

.form-cabania label,
input {
    margin-bottom: 10px;
}

.form-cabania input {
    width: 50%;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
}

.form-cabania input:hover {
    background-color: hsl(47, 69%, 86%);
}
.form-cabania select:hover {
    background-color: hsl(47, 69%, 86%);
}


.form-cabania .servicios input {
    width: 3%;
    margin: 0px 0px 15px 3px;
    display: inline;
    align-items: center;
}

.servicios {
    margin-bottom: 15px;
}

.datos {
    margin-bottom: 15px;
}

.serv-comp {
    margin-bottom: 20px;
}

.mapa-complejo,
.datos {
    border-radius: 10px;
    margin: 10px 0px 30px 0px;
}

.camas {
    display: inline-block;
}


.camas input {
    width: 85%;
}

/* Footer provisorio */

footer {
    width: 100%;
    margin-top: 10%;
    background: #DB9501;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    /* margin-top: 100px; */
 }

.box_footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer .logo img {
    width: 180 px;
}

.box_footer .terms {
    max-width: 400px;
    margin-top: 20px;
    font-weight: 400;
    color: black;
    font-size: 18px;
}

.box_footer h2 {
    margin-bottom: 30px;
    color: black;
    font-weight: 700;
}

.box_footer a {
    margin-top: 10px;
    color: black;
    font-weight: 600;
}

.box_footer a:hover {
    opacity: 0.8;
}

.box_copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p {
    margin-top: 20px;
    color: black;
}

.box_copyright hr {
    border: none;
    height: 1px;
    background-color: #C05805;
}

.day-name {
    background: #DB9501;
    font-weight: bold;
}

#boton {
    width: 25%;
    text-decoration: none;
    background-color: #5d3c21;
    font-size: 1.2em;
    color: rgb(224, 223, 223);
    margin-bottom: 10px;
    padding: 8px 4px;
    border-radius: 8px;
    border: 3px solid #b88b5c;
}

#boton:hover {
    background-color: #8e582c;
}

#boton:visited {
    background-color: #5d3c21;
    color: white;
}

.perfil {
    margin: 15px auto;
}

textarea {
    width: 75%;
    margin-bottom: 5%;
    border-radius: 5px;
}


/* Punto de corte. */
@media only screen and (max-width: 900px) {
    header {
        margin: 0px auto;
        margin-bottom: 5%;
        display: grid;
        padding-bottom: 5%;
        grid-template-columns: 1fr;

    }

    .cuadro-sup {
        display: grid;
        grid-template-columns: 1fr;
    }

    .forms-cabanias {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form-cabania {
        width: 90vw;
        margin: 0 auto;
    }

    iframe {
        width: 90vw;
    }

    .form-cabania .servicios input {
        width: 3%;
        margin-bottom: 15px;
        display: inline;
        align-items: center;
    }

    textarea {
        width: 60%;
    }

}

@media only screen and (max-width: 300px) {
    html {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}