* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: white;
    font-family: 'calibri';
  }
  
  header {
    background: url('../img/img-cabanias/complejo\ cabañas\ 2.jpeg');
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
  }
  
  section h1 {
    font-size: 44px;
  }
  
  .conte {
    text-align: center;
  }
  
  .conte p {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
  }
  
  .conte a {
    color: white;
    text-decoration: none;
    background: #8BC34A;
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 30px;
    margin: 10px;
  }