* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: blue;
}

.navbar {
    grid-area: navbar;
    background-color: aquamarine;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,#966042, #c4a86d, #966042);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right,#966042, #c4a86d, #966042);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar li{ 
    display: inline; /*Le decimos que los items vaya en linea.*/
    margin-left: 15px;
    text-decoration: none;
}



 .sidebar {
    grid-area: sidebar;
    background-color: whitesmoke;

        background: -webkit-linear-gradient(to right,#966042, #c4a86d, #966042); 

        background: linear-gradient(to right,#966042, #c4a86d, #966042); 

}

.main {
    grid-area: main;
    background-color: rgb(21, 94, 69);
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,#966042, #c4a86d, #966042);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right,#966042, #c4a86d, #966042);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

/* .footer {
    grid-area: footer;
    background-color: rgb(196, 178, 23);
} */

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
    
    /* grid-template:
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer"; */

}

@media (min-width: 900px) {
    .grid-container {
        grid-template:
        "header"
        "navbar main" 
        "footer" 
    }
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}*/

li a.active {
  background-color: rgba(81, 187, 49, 0.658);
  color: white;
}

.button { 
    height: 70px;
    width: 125px;
    background: rgba(219, 143, 2, 0.438);
    border: 1;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer; 
}

form a{
    text-decoration: none;
    color: white;
}

form a:visited{
    text-decoration: none;
    color: white;
    visibility: hidden;
}

form a:active{
    text-decoration: none;
    color: white;
}

.button2 { 
    height: 70px;
    width: 170px;
    background: rgba(219, 143, 2, 0.438);
    border: 1;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer; 
}

/* a partir de acá agregué */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.form-cliente {
    display: grid;
    grid-template-columns: 1fr;
}

.datos {
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
}

.datos2 {
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}

select {
    border: 2px solid rgb(105, 96, 96);
    padding: 5px;
    border-radius: 5px;
}

input {
    border: 2px solid rgb(105, 96, 96);
    padding: 5px;
    border-radius: 5px;
}

